#question_detail_div_id {
	display: none;
}

#ask_ques_div_comp_id {
	display: none;
}

/* #myModal {
	display: none;
} */

/* #title_id {
	color: blue;
} */

/* #comment_id {
	color: orange;
	margin-left: 900px;
}

#comment_id:HOVER {
	color: blue;
	cursor: pointer;
}

#edit_id {
	color: orange;
	margin-left: 900px;
}

#edit_id:HOVER {
	color: blue;
	cursor: pointer;
} */
