/* #submitButton:HOVER {
	color: blue;
	cursor: pointer;
} */

#login_page_id {
	margin-left: 20px;
}

/* #submitButton {
	margin-left: 20px;
} */

#login_title_id {
	margin-left: 20px;
}

#username_div_id {
	margin-left: 20px;
}

#password_div_id {
	margin-left: 20px;
}

#signup_alert_id {
	display: none;
}
